.create-listing-container {
  display: flex;
  flex-direction: column;
  padding: 20px 240px;
  margin-bottom: 160px;
}

.create-listing-container h1 {
  text-align: center;
  margin-bottom: 60px;
}

.create-listing-form-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.create-listing-form1 {
  display: flex;
  flex-direction: column;
}

.create-listing-form1 label {
  color: #4153f5;
  font-style: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.create-listing-form1 input {
  width: 381px;
  height: 55px;
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  padding: 5px;
}

.create-listing-form1 textarea {
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  height: 118px;
  width: 381px;
  padding: 5px;
}

.checkbox-options {
  display: flex;
  flex-direction: row;
  width: 381px;
  gap: 80px;
  margin-bottom: 10px;
}

.checkbox-option {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkbox-option input {
  height: 25px;
  width: 25px;
}

.amenities-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.amenities-input {
  display: flex;
  flex-direction: column;
}

.amenities-input input {
  width: 250px;
}

.amenities-add-btn {
  width: 120px;
  height: 55px;
  background-color: #4153f5;
  color: white;
  border: 2px solid #4153f5;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 40px;
}

.create-listing-form2 {
  display: flex;
  flex-direction: column;
  width: 381px;
  gap: 20px;
}

.label-input-container1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.label-input-container2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.create-listing-form2 label {
  color: #4153f5;
  font-style: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.price-input {
  height: 55px;
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  padding: 5px;
}

.room-input,
.bath-input {
  width: 120px;
  height: 55px;
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  padding: 5px;
}

#type-input {
  width: 219px;
  height: 55px;
  border: 2px solid #3a3a3a;
  border-radius: 7px;
  outline: none;
}

.image-upload-container {
  height: 118px;
  width: 405px;
  border: 2px solid #3a3a3a;
  padding: 5px;
  border-radius: 7px;
}

.upload-image-btn {
  height: 55px;
  width: 200px;
  border-radius: 7px;
  border: 2px solid #4153f5;
  background-color: #4153f5;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.upload-image-btn:hover,
.create-btn:hover,
.amenities-add-btn:hover {
  background-color: #263bf7;
  border: 2px solid #263bf7;
}

.submit-form-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 110px;
}

.submit-form-btns button {
  height: 55px;
  width: 200px;
  border-radius: 7px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
}

.create-btn {
  background-color: #4153f5;
  border: 2px solid #4153f5;
}

.cancel-btn {
  background-color: #cc2d4a;
  border: 2px solid #cc2d4a;
}

.cancel-btn:hover {
  background-color: #cf1335;
  border: 2px solid #cf1335;
}

.error {
  font-size: 14px;
  line-height: 20px;
  color: red;
}

.listingtitle-container,
.listinglocation-container,
.listingdescription-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
